{% extends "homepage/base.html" %}

{% block container_class %}container--narrow{% endblock %}
{% block page_header %}{% endblock %}

{% block content %}

<div class="card">
    <div class="card__body">
        {% include "components/empty_state.html" with icon="i-log-out" title="You're logged out" body="Your session is closed on this device." %}
        <div class="center">
            <a class="btn btn--primary" href="{% url 'login' %}">Log back in</a>
        </div>
    </div>
</div>

{% endblock %}
