{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title text-center">Join Your Chapter</h3>

                <form method="POST" id="registerForm">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button id="registerBtn" class="btn btn-success btn-block mt-3" type="submit">Register</button>
                </form>

                <div class="text-center mt-3">
                    <small>Already have an account? <a href="{% url 'login' %}">Log In</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('registerForm').addEventListener('submit', function () {
        var btn = document.getElementById('registerBtn');
        btn.disabled = true; // Locks the button
        btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending Email...'; // Shows a loading circle
    });
</script>
{% endblock %}