{% extends "homepage/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-4">
        <h2>All Reimbursements</h2>
        <a href="{% url 'treasurer_reimbursements' %}" class="btn btn-primary">Manage Reimbursements</a>
    </div>
    <table class="table shadow-sm bg-white rounded">
        <thead>
            <tr>
                <th>Requestor</th>
                <th>Item</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Venmo ID</th>
                <th>Get Info</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td> {{ item.requestor }}</td>
                <td>{{ item.title }}</td>
                <td>
                    {% if item.status == 'APPROVED_BUY' %}
                    <span class="badge badge-warning">Needs Receipt</span>
                    {% elif item.status == 'PENDING_SPENDING' or item.status == 'PENDING_REIMBURSEMENT' %}
                    <span class="badge badge-info">Waiting for approval</span>
                    {% elif item.status == 'APPROVED_REIMBURSEMENT' %}
                    <span class="badge badge-success">Reimbursed</span>
                    {% elif item.status == 'REJECTED_REIMBURSEMENT' %}
                    <span class="badge badge-warning">Rejected Reimbursement</span>
                    {% elif item.status == 'REJECTED_BUY' %}
                    <span class="badge badge-warning">Rejected Spending</span>
                    {% endif %}
                </td>
                <th>{{ item.total_amount }}</th>
                <td>
                    {{ item.venmo_id }}
                </td>
                <td>
                    <a href="{% url 'reimbursement_info' item.id %}">
                        <i class="bi bi-info-circle"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}